:root {
    --c_brown: #6f6150;
    --c_orange: #eb6607;
    --c_dark: #2b2b2b;

}
.iti__flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("../img/flags@2x.png");}
}
@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/helveticaneueltstd-bdcn-webfont-webfont-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneueltstd-bdcn-webfont-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue CN';
    src: url('../fonts/helveticaneueltstd-cn-webfont-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneueltstd-cn-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/helveticaneueltstd-ltcn-webfont-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneueltstd-ltcn-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Adopte Bold';
    src: url('../fonts/adopte_bold-webfont.woff2') format('woff2'),
    url('../fonts/adopte_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Adopte';
    src: url('../fonts/adopte_regular-webfont.woff2') format('woff2'),
    url('../fonts/adopte_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p, h1, h2, h3, h4, h5, h6, a, button, ul, li {
    font-family: "Open Sans", sans-serif;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.non-bold {
    font-weight: normal !important;
}
.relative {
    position: relative;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.max-width {
    max-width: 75rem !important;
}
.min-width {
    min-width: 75rem !important;
}
.visible {
    visibility: visible !important;
}
.container-inline div {
    display: inline-block;
}
.bold {
    font-weight: bold;
}
.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inline-block {
    display: inline-block;
}
.button.custom {
    background-color: #f37037;
    background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/spa-legestequisauve/bg-orange-btn.png');
    background-size: cover;
    border-radius: 10px;
    padding: 20px 50px;
    color: white;
    font-size: 18px;
    font-family: 'Helvetica Neue Bold', serif;
    text-transform: uppercase;
    font-weight: bold;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.button.custom:hover {
    transform: scale(1.05);
}

.slide {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.fixed-nav {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 10px 30px;
    z-index: 1;
}
.fixed-nav a {
    margin-right: 15px;
    font-family: 'Barlow Condensed', serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.fixed-nav img {
    margin-right: 15px;
}

.header {
    background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/spa/2020-Enquete-nationale-175ans/bg-slide-1.jpg");

}

.header .title {
    color: white;
}
.header .title h1 {
    font-family: 'Adopte Bold', serif;
    font-size: 82px;
    line-height: 0.9;
}
.header .title p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1;
    color: white;
}


.header .right {
    min-height: 100vh;
}
.header .right .inner {
    text-align: left;
    padding: 65% 42px 20px;

    -webkit-transition: padding 0.4s ease-out;
    -moz-transition: padding 0.4s ease-out;
    -o-transition: padding 0.4s ease-out;
    transition: padding 0.4s ease-out;
}

.header .right p {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    line-height: 1.2;
    color: white;
    margin-bottom: 22px;
}
.header .right button:hover {
    transform: scale(1.04);
}
.header .right button img {
    margin-right: 10px;
}
.header .right button {
    width: 100%;
    height: 75px;
    background-color: #EF5713;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.container .left {
    padding-top: 80px;
}
.container .images {
    text-align: center;
    margin-bottom: 12px;
}
.container .images img {
    margin: 15px;
}

.container .right {
    background-color: rgba(0,0,0,0.1);
}


#questions {
    display: none;
}
#questions .container .left .images {
    margin-bottom: 6%;
}
#questions .container .left .images {
    margin-bottom: 6%;
}
#questions .container .right {
    padding: 0;
    min-height: 100vh;
    z-index: 2;
    position: relative;
}
#title-questions {
    font-family: 'Adopte Bold', serif;
    font-size: 80px;
    font-weight: bold;
    line-height: 0.9;
    color: white;
}
#sur-title-questions {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
}
#sub-title-questions {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    line-height: 1.2;
    color: white;
}

#questions .right {

}
#questions .right .wrapper {
    display: table;
    width: 100%;
}
#questions .right .answer {
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans', serif;
    font-size: 20px;
    line-height: 1.2;
    color: white;
}
#questions .right .answer:hover, #questions .right .answer:focus {
    background-color: rgba(255,255,255,0.2);
}
#questions .right .answer.selected {
    background-color: rgba(255,255,255,1) !important;
    color: black;
}
#questions .right button {
    height: 127px;
    background-color: #EF5713;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
}

.error {
    display: none;
    color: #f6dfd7;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#nps {
    display: none;
    padding-top: 80px;
    background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/spa/2020-Enquete-nationale-175ans/bg-slide-NPA.jpg");
}
#nps h1 {
    font-family: 'Adopte Bold', serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 0.9;
    color: white;
}
#nps h1 span {
    font-size: 80px;
}
#nps .title {
    margin-top: 10%;
}
#nps .title p {
    font-family: 'Open Sans', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: white;}

#nps .nps-answers * {
    display: inline-block;
}
#nps .nps-answers p {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
    margin-top: 40px;
}
#nps .nps-answer {
    width: 68px;
    height: 61px;
    padding-top: 20px;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Open Sans', serif;
    font-size: 20px;
    line-height: 1;
    color: white;
}
#nps .nps-btn {
    width: 720px;
    max-width: 100%;
}
#nps .nps-btn a {
    padding-top: 16px;
    display: block;
    background-color: #EF5713;
    margin-top: 18px;
    width: 100%;
    height: 60px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    color: white;
}
#nps .nps-answers a:hover, #nps .nps-answers a.selected {
    background-color: white;
    color: black;
}


#merci {
    display: none;
    padding-top: 80px;
    background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/spa/2020-Enquete-nationale-175ans/bg-q-9.jpg");
}
#merci h1 {
    font-family: 'Adopte Bold', serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 0.9;
    color: white;
}
#merci .title {
    margin-top: 10%;
}
#merci .title p {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: white;}

#merci .merci-btn {
    width: 275px;
    max-width: 100%;
}
#merci .merci-btn a {
    padding-top: 16px;
    display: block;
    background-color: #EF5713;
    margin-top: 18px;
    width: 100%;
    height: 60px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    color: white;
}

@media screen and (max-width: 640px) {

}